<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Registration Here</title>
<!-- <link type="text/css" rel="stylesheet" href="myairline.css"> -->
</head>

<body>
	<h1>Welcome To My AirTravel</h1>
	<hr>
	<h2>Registration</h2>
	<form (ngSubmit)="registerThisNewUser()">
		Entered Username is {{newregistration.username}}

		<TABLE BORDER=2 CELLSPACING=10 CELLPADDING=10>
			<TR>
				<TD>Enter username</TD>
				<TD><input type=text name="username" [(ngModel)]="newregistration.username" placeholder="Enter Username"></TD>
			</TR>
			<TR>
				<TD>Enter password</TD>
				<TD><input type=password name="password" [(ngModel)]="newregistration.password"></TD>
			</TR>
			<TR>
				<TD>Enter email</TD>
				<TD><input type=email name="email" [(ngModel)]="newregistration.email"></TD>
			</TR>
			<TR>
				<TD>Enter phone</TD>
				<TD><input type=text name="phone" [(ngModel)]="newregistration.phone"></TD>
			</TR>
			<TR>
				<TD>Enter birthdate</TD>
				<TD><input type=date name="birthdate" [(ngModel)]="newregistration.birthdate"></TD>
			</TR>

			<TR>
				<TD colspan="2"><input type=submit value="Registration"></TD>
			</TR>
			<TR>
				<TD colspan="2"><a href="Login.html">Login here</a></TD>
			</TR>
			<TR>
				<TD colspan="2"><a href="Home.html">Find Flights </a></TD>
			</TR>
			<br>
		</TABLE>
	</form>
	
</body>

</html>