<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Registration Here</title>
<!-- <link type="text/css" rel="stylesheet" href="myairline.css"> -->
</head>


<body>
	<h1>Welcome To My AirTravel</h1>
	<hr>
	<h2>Registration</h2>
	<form (ngSubmit) = "onSubmit()" ngNativeValidate>   
		<TABLE BORDER=2 CELLSPACING=10 CELLPADDING=10>
			<TR> <TD>Enter username </TD> <TD><input type=text id="uname1" placeholder="Enter user name" name = "username" [(ngModel)] = "newRegistration.username" required><span id="userErrMsg1"></span></TD> </TR>
			<TR> <TD>Enter password    </TD> 	<TD><input type=password id="upass1"  placeholder="Enter password" name = "password" [(ngModel)] = "newRegistration.password" (ngModelChange) = "check()" required></TD> </TR>
			<TR> <TD>Re-Enter password </TD>    <TD><input type=password id="upass2" name = "repass" [(ngModel)] ="repass" (ngModelChange) = "check()" required><span></span></TD> </TR>
			<TR> <TD>Enter email       </TD> 	<TD><input type=email name = "email" [(ngModel)] = "newRegistration.email"  (ngModelChange) = "check()" required></TD> </TR>
			<TR> <TD>Enter phone       </TD> 	<TD><input type=text name = "phone" [(ngModel)] = "newRegistration.phone" (ngModelChange) = "check()" required></TD> </TR>
			<TR> <TD>Enter birthdate   </TD> 	<TD><input type=date name = "birthdate" [(ngModel)] = "newRegistration.birthdate" (ngModelChange) = "check()" required></TD> </TR>
	
			<TR> <TD colspan="2"><input type=submit value="Registration" [disabled]= "flag === false"></TD> </TR>
		</TABLE>
	</form>
	
</body>

</html>