<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
	<h1>{{title}}</h1>

	<label> Enter Principal Amount </label><input type="number" name="prinicipal" value={{principal}}><br>
	<label> Enter Rate Amount </label><input type="number" name="rate" value={{rate}}><br>
	<label> Enter Duration </label><input type="number" name="years" value={{years}}><br>
	<hr>
	<h3>With ngmodulechange and ngmodule</h3>
	<label> Enter Principal Amount </label><input type="number" name="prinicipal"  [(ngModel)]="principal" (ngModelChange)="calculateSimpleInterest()"><br>
	<label> Enter Rate Amount </label><input type="number" name="rate"  [(ngModel)]="rate" (ngModelChange)="calculateSimpleInterest()"><br>
	<label> Enter Duration </label><input type="number" name="years"  [(ngModel)]="years" (ngModelChange)="calculateSimpleInterest()"><br>
	<hr>
	<h3>With change and ngmodule</h3>
	<label> Enter Principal Amount </label><input type="number" name="prinicipal"  [(ngModel)]="principal" (change)="calculateSimpleInterest()"><br>
	<label> Enter Rate Amount </label><input type="number" name="rate"  [(ngModel)]="rate" (change)="calculateSimpleInterest()"><br>
	<label> Enter Duration </label><input type="number" name="years"  [(ngModel)]="years" (change)="calculateSimpleInterest()"><br>
	<hr>
	
	Principal is {{principal}}<br>
	Rate is {{rate}}<br>
	For a duration of {{years}} <br>
	<hr>
	<button (click)="calculateSimpleInterest()"> Calculate Simple Interest</button> <br><br>
	<b><label>Calculated Simple Interest is {{si}}</label></b> <br> <br>




	<div *ngIf="isUserLoggedIn; else myElseBlock">
		its true
		Yes, User is Logged In
	</div>
	<ng-template #myElseBlock>
		its False 
		User is not Logged In
	</ng-template> <br>


	<button><label (click)="checkstatus()">{{status[current]}}</label></button> 
	<br> 
	<hr>

	<form class="c1">   
		<TABLE BORDER=2 CELLSPACING=10 CELLPADDING=10 style="background-color:aqua;">
			<th colspan="2" text-align="center"><h2> Search Flights </h2></th>
			<TR> <TD>Enter source city</TD> 		
			<TD>
					<select>
							<option value="BOM">Mumbai</option>
							<option value="MAA">Chennai</option>
							<option value="DEL">Delhi</option>
							<option value="KOL">Kolkata</option>
					</select> 
			</TD> 
			</TR>
			<TR> <TD>Enter destination city</TD> 	
		 
			<TD>
			
				<select >
							<option value="KOL">Kolkata</option>
							<option value="DEL">Delhi</option>
							<option value="MAA">Chennai</option>
							<option value="MUM">Mumbai</option>
				</select> 
			
			</TR>
			<TR> <TD>Enter date of Journey</TD> 	<TD><input type=date name=doj></TD> </TR>
		
			<TR> <TD colspan="2" text-align="center"><input type=submit value="Search Flights"></TD> </TR>
		</TABLE>
	</form>

		<!-- <form action="FoundFlights.html">   
			<TABLE BORDER=2 CELLSPACING=10 CELLPADDING=10>
				<TR> <TD>Enter source city</TD> 		<TD><input type=text></TD> </TR>
				<TR> <TD>Enter destination city</TD> 	<TD><input type=text></TD> </TR>
				<TR> <TD>Enter date of Journey</TD> 	<TD><input type=date name=doj></TD> </TR>
			
				<TR> <TD><input type=submit value="Search Flights"></TD> </TR>
			</TABLE>
		</form> -->
		<!--<app-show-flights></app-show-flights>
		 <app-login></app-login>
		<app-registration></app-registration>
		<app-forgotpassword></app-forgotpassword>
		<app-resetpassword></app-resetpassword> -->

</body>
</html>