@charset "UTF-8";
h1{
    color: red;
    text-align: center;
}
table{
    margin:  auto;
    background-color: orange;
}
.d1{
    color: red;
}
body{
    /* background-image: url("\src\assets\img.jpeg"); */
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: auto;
    text-align: center;
}