<!DOCTYPE html>
<html>
 <head>
 <meta charset="UTF-8">
 <title>Search Your Flight </title>
 </head>
<body>
 
 <h3>Search Your Flight </h3>
  
<form action="FoundFlights.html"> 
 <TABLE BORDER=2 CELLSPACING=10 CELLPADDING=10 style="background-color:aqua;">
 <th colspan="2" align=center><h2> Search Flights </h2></th>
 <TR> <TD>Enter source city</TD> 
 <TD>
 <select>
 <option value="BOM">Mumbai</option>
 <option value="MAA">Chennai</option>
 <option value="DEL">Delhi</option>
 <option value="KOL">Kolkata</option>
 </select> 
 </TD> 
 </TR>
 <TR> <TD>Enter destination city</TD> 
 
 <TD>
 
 <select>
 <option value="KOL">Kolkata</option>
 <option value="DEL">Delhi</option>
 <option value="MAA">Chennai</option>
 <option value="MUM">Mumbai</option>
 </select> 
 
 </TR>
 <TR> <TD>Enter date of Journey</TD> <TD><input type=date name=doj></TD> </TR>
 
 <TR> <TD colspan="2" align="center"><button type="submit" class="btn" style="background-color: #fb641b">Search Flight</button> </TD> </TR>
 </TABLE>
</form>
 
</body>
 
</html>