<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Welcome User</title>

</head>
<body>
<h1> Welcome To My AirTravel </h1><hr><h2> Welcome User </h2>
		<a href="Homet.html">Logout</a> <br>
		<form >   
			<TABLE BORDER=2 CELLSPACING=10 CELLPADDING=10>
				<TR> <TD><input type=submit value="View Tickets"></TD> </TR>
			</TABLE>
		</form>
		
		<form >   
			<TABLE BORDER=2 CELLSPACING=10 CELLPADDING=10>
				<TR> <TD><input type=submit value="View Profile"></TD> </TR>
			</TABLE>
		</form>
		
		<form>   
			<TABLE BORDER=2 CELLSPACING=10 CELLPADDING=10>
				<TR> <TD><input type=submit value="Upcoming Flights"></TD> </TR>
			</TABLE>
		</form>
		
		<form>   
			<TABLE BORDER=2 CELLSPACING=10 CELLPADDING=10>
				<TR> <TD><input type=submit value="Login" (click) = "takeMeToUserDashboard()"></TD> </TR>
			</TABLE>
		</form>
		
</body>
</html>